In [41]:
import pandas as pd
import numpy as np
d=pd.read_excel('D:\GoogleDrive\custom Codes\Mar18\Loan_D1.xlsx')

In [3]:
d.head()

,BRANCH_ID,BRANCH_NM,CUSTOMER_ID,CUSTOMER_GROUP_ID,ACCOUNT_NO,ACCOUNT_TITLE,PROPOSAL_ID,COMMITMENT_ID,PRODUCT_ID,SANCTION_DATE,...,CL_STATUS_ID,BALANCE_LCY,CLOSE_BALA_LCY,CLOSING_OS_BAL_LCY,SBS_SECTOR_CODE,SBS_EP_CODE,SBS_SECURITY_CODE,SBS_PRD_CODE,SBS_BILL_CODE,COMMIT_COL_VALUE
1,1271,Local Office,9733.0,NaN,74706115444,MR. M.A.WAHAB,447,447,747,2002-06-25,...,0,0.00,0.00,67898.00,NaN,9900.0,60,20710,NaN,0.0
2,1271,Local Office,9752.0,NaN,62006115854,MOHAMMAD JAHANGIR ALAM,467,467,620,2010-06-24,...,0,0.00,0.00,75.73,NaN,9900.0,60,20710,NaN,0.0
3,1271,Local Office,NaN,342.0,64806115944,MD. SALAH UDDIN & SOHAG UDDIN,473,473,648,2005-08-28,...,0,646505.57,646505.57,-646505.57,NaN,4210.0,50,21200,NaN,762500.0
4,1271,Local Office,9883.0,NaN,62006116471,M/S. MANIK & CO.,533,533,620,2012-01-10,...,0,554594.12,554594.12,-554594.12,NaN,9900.0,50,20710,NaN,8259750.0
5,1271,Local Office,6047.0,NaN,63700160601,MD. RAMIJUL ISLAM,126,126,637,2010-01-03,...,0,290208.26,290208.26,-290208.26,NaN,4210.0,50,21700,NaN,0.0

In [4]:
# get the column names
d.columns

Index(['BRANCH_ID', 'BRANCH_NM', 'CUSTOMER_ID', 'CUSTOMER_GROUP_ID',
       'ACCOUNT_NO', 'ACCOUNT_TITLE', 'PROPOSAL_ID', 'COMMITMENT_ID',
       'PRODUCT_ID', 'SANCTION_DATE', 'DISBURSEMENT_DT', 'EXPIRY_DT',
       'EFFECTIVE_DT', 'LIMIT_AMT', 'TOTAL_DISBURSEMENT', 'ECON_PURP_SBS_ID',
       'CL_STATUS_ID', 'BALANCE_LCY', 'CLOSE_BALA_LCY', 'CLOSING_OS_BAL_LCY',
       'SBS_SECTOR_CODE', 'SBS_EP_CODE', 'SBS_SECURITY_CODE', 'SBS_PRD_CODE',
       'SBS_BILL_CODE', 'COMMIT_COL_VALUE'],
      dtype='object')

In [42]:
# isin 
d1=d[(d['SBS_SECURITY_CODE'].isin([73, 75, 76]))]
d1.head()

,BRANCH_ID,BRANCH_NM,CUSTOMER_ID,CUSTOMER_GROUP_ID,ACCOUNT_NO,ACCOUNT_TITLE,PROPOSAL_ID,COMMITMENT_ID,PRODUCT_ID,SANCTION_DATE,...,CL_STATUS_ID,BALANCE_LCY,CLOSE_BALA_LCY,CLOSING_OS_BAL_LCY,SBS_SECTOR_CODE,SBS_EP_CODE,SBS_SECURITY_CODE,SBS_PRD_CODE,SBS_BILL_CODE,COMMIT_COL_VALUE
22,1271,Local Office,9621.0,NaN,64000006149,PACIFIC BD.TELECOM LTD,623,623,640,2006-06-05,...,0,19032777.04,19032777.04,-19032777.04,NaN,9900.0,75,21005,NaN,0.0
299,1545,Corporate Branch,18202.0,NaN,64500000532,ENGR HOSSAIN SHAHID SHEIKH,1904,1848,645,1997-05-12,...,8,81633.00,81633.00,-81633.00,NaN,9900.0,76,24200,NaN,0.0
333,1545,Corporate Branch,16177.0,NaN,64500001494,MD.GULAM MURTAZA,1492,1436,645,1999-08-05,...,8,58668.00,58668.00,-58668.00,NaN,9900.0,76,24200,NaN,0.0
334,1545,Corporate Branch,16184.0,NaN,64500001559,MR.SHEIKH BADRUL ALAM,1493,1437,645,1999-09-27,...,8,60769.00,60769.00,-60769.00,NaN,9900.0,76,24200,NaN,0.0
352,1545,Corporate Branch,16202.0,NaN,64500001976,MR.MD.NURUL HOQUE,1505,1449,645,2000-08-10,...,8,62421.46,62421.46,-62421.46,NaN,9900.0,76,24200,NaN,0.0

In [43]:
l1=pd.Series(range(606, 630))
l2=pd.Series(range(634, 714))
l3=pd.Series(range(720,751))

l=l1.append(l2).append(l3)

# is not in ~
d1=d1[(~d1['PRODUCT_ID'].isin(l))]
d1.shape

(168, 26)

In [44]:
# crosstab
pd.crosstab(index=d1['PRODUCT_ID'], columns='count')

col_0       count
PRODUCT_ID
630             5
633            23
714             1
715            54
716            14
751            70
756             1

In [45]:
p=pd.pivot_table(d1, index=['CUSTOMER_ID'], values='CLOSE_BALA_LCY', aggfunc=[len, sum])

# modifying the column names
p.columns = p.columns.to_series().str.join('_')

# convert to regular data frame
p = p.reset_index().rename_axis(None, axis=1)
p1=p.copy()
p1['sum_CLOSE_BALA_LCY']=p1['sum_CLOSE_BALA_LCY']/10000000

# sort a column
p1=p1.sort_values(by='sum_CLOSE_BALA_LCY', ascending=False)

#make the customer id column string
p1['CUSTOMER_ID']=p1['CUSTOMER_ID'].astype(str)

# check whether the column is string or not
from pandas.api.types import is_string_dtype
is_string_dtype(p1['CUSTOMER_ID'])

p1

   CUSTOMER_ID  len_CLOSE_BALA_LCY  sum_CLOSE_BALA_LCY
16     77718.0                 5.0          106.462212
15     77640.0                 4.0          105.312403
33   1673269.0                 2.0           87.065529
30   1510649.0                 1.0           81.686349
39   1761772.0                 1.0           69.992506
10     16720.0                 3.0           61.078192
41   1773652.0                 1.0           51.284013
49   1883017.0                 1.0           51.159826
34   1676484.0                 2.0           51.154743
37   1723850.0                 1.0           50.927749
43   1811949.0                 1.0           50.504167
27   1360386.0                 1.0           50.495833
24   1228837.0                 1.0           50.263889
36   1723812.0                 1.0           50.195605
45   1826496.0                 8.0           44.873330
17     93539.0                 2.0           43.894952
28   1476759.0                 2.0           41.051561
47   1862732.0                 2.0           40.840625
11     17109.0                 2.0           40.527314
1       9629.0                 2.0           39.999608
18    322148.0                 7.0           35.546093
8       9689.0                 1.0           34.999794
3       9653.0                 3.0           33.233541
23    893786.0                 2.0           30.633715
32   1668214.0                 3.0           30.537938
7       9684.0                 2.0           22.426437
38   1749240.0                 1.0           20.443889
42   1794793.0                 1.0           20.250838
14     18289.0                 3.0           19.612040
13     18288.0                 5.0           19.252181
40   1771268.0                 4.0           15.566488
25   1230995.0                 1.0           15.524612
9       9691.0                 1.0           12.707258
2       9650.0                 1.0           12.492212
5       9680.0                 2.0           11.541601
44   1812406.0                 1.0           10.081667
4       9661.0                 2.0            9.512037
12     17117.0                 1.0            7.511931
6       9681.0                 1.0            7.496527
0       7584.0                 1.0            7.314692
35   1683678.0                67.0            5.286145
26   1294495.0                 1.0            5.061965
48   1878877.0                 1.0            4.999970
21    590336.0                 2.0            4.678029
20    462755.0                 4.0            4.295202
46   1856854.0                 1.0            2.999908
19    342800.0                 1.0            0.166071
29   1509156.0                 3.0            0.120105
22    821928.0                 1.0            0.013316
31   1611445.0                 1.0            0.000000

In [46]:
# add leading 0 to make 10 character string, 12 is put here as theere is a decimal and a 0 after
p1['CUSTOMER_ID']=p1['CUSTOMER_ID'].apply(lambda x: x.zfill(12))

# substr and remove the decimal and zero
p1['CUSTOMER_ID']=p1['CUSTOMER_ID'].str[:10]

# rename the columns
p1=p1.rename(columns={'len_CLOSE_BALA_LCY':'NO_OF_AC'})

# make the account no column integer
p1['NO_OF_AC']=p1['NO_OF_AC'].astype(int)

# make the index ordered
p1.index=np.arange(0, len(p1))
p1

   CUSTOMER_ID  NO_OF_AC  sum_CLOSE_BALA_LCY
0   0000077718         5          106.462212
1   0000077640         4          105.312403
2   0001673269         2           87.065529
3   0001510649         1           81.686349
4   0001761772         1           69.992506
5   0000016720         3           61.078192
6   0001773652         1           51.284013
7   0001883017         1           51.159826
8   0001676484         2           51.154743
9   0001723850         1           50.927749
10  0001811949         1           50.504167
11  0001360386         1           50.495833
12  0001228837         1           50.263889
13  0001723812         1           50.195605
14  0001826496         8           44.873330
15  0000093539         2           43.894952
16  0001476759         2           41.051561
17  0001862732         2           40.840625
18  0000017109         2           40.527314
19  0000009629         2           39.999608
20  0000322148         7           35.546093
21  0000009689         1           34.999794
22  0000009653         3           33.233541
23  0000893786         2           30.633715
24  0001668214         3           30.537938
25  0000009684         2           22.426437
26  0001749240         1           20.443889
27  0001794793         1           20.250838
28  0000018289         3           19.612040
29  0000018288         5           19.252181
30  0001771268         4           15.566488
31  0001230995         1           15.524612
32  0000009691         1           12.707258
33  0000009650         1           12.492212
34  0000009680         2           11.541601
35  0001812406         1           10.081667
36  0000009661         2            9.512037
37  0000017117         1            7.511931
38  0000009681         1            7.496527
39  0000007584         1            7.314692
40  0001683678        67            5.286145
41  0001294495         1            5.061965
42  0001878877         1            4.999970
43  0000590336         2            4.678029
44  0000462755         4            4.295202
45  0001856854         1            2.999908
46  0000342800         1            0.166071
47  0001509156         3            0.120105
48  0000821928         1            0.013316
49  0001611445         1            0.000000

In [47]:
# turn d1 customer id string, fill upto 12 and then keep only the first 10 characters
d1['CUSTOMER_ID']=d1['CUSTOMER_ID'].astype(str).apply(lambda x: x.zfill(12)).str[:10]

In [48]:
# merge the two data frames
dd=pd.merge(p1, d1, on='CUSTOMER_ID', how='left')

# keep the desired columns and remove the duplicates
dd=dd.iloc[:,[0, 7, 1, 2]].drop_duplicates()

# rename columns
dd=dd.rename(columns={'len_CLOSE_BALA_LCY':'NO OF AC', 'sum_CLOSE_BALA_LCY':'TOTAL BALANCE'})

dd

,CUSTOMER_ID,ACCOUNT_TITLE,NO_OF_AC,TOTAL BALANCE
0,0000077718,ABUL KHAIR MILK PRODUCTS LTD.,5,106.462212
5,0000077640,BSRM STEELS LIMITED,4,105.312403
6,0000077640,BSRM STEELS LTD.,4,105.312403
9,0001673269,WALTON MICRO-TECH CORPORATION,2,87.065529
11,0001510649,ABUL KHAIR STEEL MELTING LTD.,1,81.686349
12,0001761772,ADVANCED CHEMICAL INDUSTRIES LIMITED (ACI),1,69.992506
13,0000016720,NITOL MOTORS LTD.,3,61.078192
16,0001773652,AST BEVERAGE LTD.,1,51.284013
17,0001883017,RANGS LIMITED,1,51.159826
18,0001676484,BUTTERFLY MARKETING LTD.,2,51.154743
20,0001723850,KSRM BILLET INDUSTRIES LIMITED,1,50.927749
21,0001811949,ENERGYPAC ENGINEERING LTD.,1,50.504167
22,0001360386,BANGA MILLERS LTD,1,50.495833
23,0001228837,NASIR GLASS INDUSTRIES LTD.,1,50.263889
24,0001723812,KSRM STEEL PLANT LTD.,1,50.195605
25,0001826496,ZABER AND ZUBAIR FABRICS LIMITED,8,44.873330
33,0000093539,HABIGANJ AGRO LIMITED,2,43.894952
35,0001476759,IFAD AUTOS LIMITED,2,41.051561
37,0001862732,ENVOY TEXTILES LIMITED,2,40.840625
39,0000017109,PHOENIX FINANCE & INVESTMENT LTD.,2,40.527314
41,0000009629,LANKABANGLA FINANCE LIMITED,2,39.999608
43,0000322148,MOHAMMED TRADING,7,35.546093
50,0000009689,INDUSTRIAL & INFRASTRUCTURE DEVELOPMENT FINANC...,1,34.999794
51,0000009653,PREMIER LEASING & FINANCE LTD,3,33.233541
54,0000893786,GAZI TYRES,2,30.633715
56,0001668214,APEX TANNERY LIMITED,3,30.537938
59,0000009684,BAY LEASING & INVESTMENT LTD,2,22.426437
61,0001749240,IPDC FINANCE LIMITED,1,20.443889
62,0001794793,STAR CERAMICS LTD,1,20.250838
63,0000018289,INTERNATIONAL LEASING & FINANCIAL SERVICES LTD.,3,19.612040
66,0000018288,FAS FINANCE & INVESTMENT LTD.,5,19.252181
71,0001771268,BENGAL PALSTIC PIPES LIMITED,4,15.566488
75,0001230995,WALTON HI-TECH INDUSTRIES LTD,1,15.524612
76,0000009691,FIRST FINANCE LIMITED,1,12.707258
77,0000009650,FAREST FINANCE & INVESTMENT LTD,1,12.492212
78,0000009680,RELIANCE FINANCE LTD,2,11.541601
80,0001812406,BEST ELECTRONICS LIMITED,1,10.081667
81,0000009661,PEOPLES LEASING & FINANCIAL SERVICES LTD,2,9.512037
83,0000017117,GSP FINANCE COMPANY (BANGLADESH) LTD,1,7.511931
84,0000009681,UNION CAPITAL LTD.,1,7.496527
85,0000007584,CITY SUGAR INDUSTRIES LTD.,1,7.314692
86,0001683678,FAIR DENIM WASHING AND DYEING MILLS LTD,67,5.286145
153,0001294495,TRADEXCEL AUTO BRICKS LTD.,1,5.061965
154,0001878877,INFOTECH TRADING LIMITED,1,4.999970
155,0000590336,SMART TECHNOLOGIES (BD) LTD.,2,4.678029
157,0000462755,M. S. AGRO FISHERIES FEED UNITE (PVT.) LTD.,4,4.295202
161,0001856854,TLRA HOLDINGS LTD.,1,2.999908
162,0000342800,MARTIN KNIT WEAR LTD.,1,0.166071
163,0001509156,UNIPACK PRINTERS AND TRADE INT.,3,0.120105
166,0000821928,FIROZA BEGUM,1,0.013316
167,0001611445,HAZI BASTRA BITAN,1,0.000000